@{
    ViewBag.Title = "Trang chủ";
}

<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>

<div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>


<script>
    var auto_refresh = setInterval(
        function () {
            $('#container').load('/Home/Index').fadeIn("slow");
        }, 60000);
    $(document).ready(function () {
        $.getJSON("/Home/GetData", function (data) {
            var MT = []
            var Gio = []
            var SK = []
            var T = []
            var time = []
            for (var i = 0; i < data.length; i++) {
                if (data[i].name == "MặtTrời") MT.push(data[i].value);
                if (data[i].name == "Gió") Gio.push(data[i].value);
                if (data[i].name == "SinhKhối") SK.push(data[i].value);
                if (data[i].name == "Tổng") T.push(data[i].value);
                if (data[i].name == "MặtTrời") time.push(data[i].time);
   
            }
           
            Highcharts.chart('container', {
                chart: {
                    type: 'line'
                },
                title: {
                    text: 'THU THẬP DỮ LIỆU NĂNG LƯỢNG'
                },
                subtitle: {
                    text: 'CÔNG SUẤT HIỆN TẠI'
                },
                xAxis: {
                    categories: time
                },
                yAxis: {
                    title: {
                        text: 'Công Suất (MW)'
                    }
                },
                plotOptions: {
                    line: {
                        dataLabels: {
                            enabled: true
                        },
                        enableMouseTracking: false
                    }
                },
                series: [{
                    name: 'Mặt trời',
                    data: MT
                }, {
                    name: 'Gió',
                    data: Gio
                }, {
                    name: 'Sinh Khối',
                    data: SK
                }, {
                    name: 'Tổng',
                    data: T
                    }]
            });
        });
    });
       
</script>
